<section class="details">
    <h3>Details</h3>
    <ul>
        <li>neighbourhood - {{neighbourhood}}</li>
        <!-- use helper to format as currency -->
        <li>Amount  {{ currency total_asmt }}</li>
        <li>Garage   {{garage}}</li>
        <li>Latitude   {{latitude}}</li>
        <li>Longitude  {{longitude}}</li>
    </ul>
</section>